html {
	box-sizing: border-box;

}
		
*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}

.banner{
 	width:100%;
 	bottom: 20rem;
}

.wonders{
	position: relative;
	width: 100%;

}

.logo{
	position: absolute;
	width: 15%;
	top: 0rem;
}

.buy-logo{
	background: #6B0000;
	color: white;
	text-align: center;
	float: right;

}
h1{
	position: relative;
	font-size: 17pt;
	text-align: center;
	top: 0rem;
	margin: 0;
	padding: 0;
}

ol{
	margin: 0;
	padding: 0;
	text-align: center;
}
li,a{
	text-decoration: none;
	display: inline-block;
	color: black;

}

h2, h3, h4{
	text-align: center;
}
.topnav a{
	position: relative;
	background-color: #6B0000;
	margin: 0;
	font-style: none;
	color: white;
	padding: 0;
}


.marten{
	position: relative;
	color: black;
	z-index: 3;
	text-align: center;
	margin: 0;
}

.martentwo{
	position: relative;
	z-index: 2;
	text-align: center;
	margin: 0;
}

div{
	text-align: center;
	background-color: #6B0000;
	color: white;
	margin: 0;
}



.tickets-one{
	float: left;
}

.tickets{
	float: right;
}